<!DOCTYPE html>
<html style="margin: 0; padding: 0; width: 100%; height: 100%; display: table;">
  <head>
    <meta charset="utf-8">
    <title>Finished</title>
  </head>
  <body style="margin: 0; padding: 0; width: 100%; height: 100%; display: table;">
    <h1 style="display: table-cell; text-align: center; vertical-align: middle;">Watermarked Montages Have Been Created Succesfully</h1>
    <img style="display: table-cell; text-align: center; vertical-align: middle;" src="app/public/images/watermark.png" />
  </body>
</html>
