<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Finished</title>
  </head>
  <body >
    <img style="margin: auto; display: block;" src="/images/watermark.png" />
    <h1 style="text-align: center;">
      Watermarked Montages Have Been Created Succesfully</h1>
    <h4 style="text-align: center;">
      Click button below to download the updated .csv file with links to the new montage images.</h4>
      <div style="text-align: center;">
        <form action="/finished/downloading" method="get">
          <input type="submit" value="Download"/>
        </form>
      </div>
  </body>
</html>
