<!DOCTYPE html>
<html style="margin: 0; padding: 0; width: 100%; height: 100%; display: table;">
  <head>
    <meta charset="utf-8">
    <title>SilkFred</title>
  </head>
  <body style="margin: 0; padding: 0; width: 100%; height: 100%; display: table;">
      <form action="/file" method="post" enctype="multipart/form-data" style="display: table-cell; text-align: center;">
        <img style="margin: auto; display: block;" src="/images/watermark.png" />
        <br>
        Upload .csv file here please ---->
        <input type="file" id="fileinput" name="csv_file" accept=".csv" />
        <input type="submit" value="Upload">
      </form>
  </body>
</html>
